.secondAppContainer {
  display: none;
}

@media screen and (max-width: 1250px) {
  .secondAppContainer {
    display: block;
  }

  .mainAppContainer {
    display: none;
  }
}

#headerDropdown {
  display: inline-flexbox;
  background-color: transparent;
  border: none !important;
}

.profilePicture {
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 100%;
}

.profileName {
  padding-right: 8px;
}

.dropdown-menu {
  background-color: #272727 !important;
  width: 100% !important;
  padding: 8px 0 8px 16px !important;
}

.dropdown-menu a {
  text-decoration: none !important;
  color: white !important;
}

.dropdown-menu a:hover {
  opacity: 0.5;
}

body {
  background-color: #0f0f0f !important;
  color: white !important;
  text-align: center !important;
}

.myNavbar {
  background-color: #000;

  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-right: 10% !important;
  height: 10vh;
}

.navbarBrand {
  margin-left: 16px;
}
.myContainer {
  padding-top: 15vh;
}

.backBtn {
  color: white;
  height: 25px;
  width: 55px !important;
  font-size: 13px;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-decoration: none;
}

.backBtn:hover {
  color: #1db954;
  text-decoration: none;
}

.episode-thumbnail {
  width: 100%;
  margin-right: 24px;
  border-radius: 11px;
}

.episodeHeaderRow {
  padding-top: 114px !important;
}

.episodeHeader {
  position: relative !important;
  height: auto;
}

.episodeFragment {
  position: absolute !important;
  bottom: 0;
}

.LandingPageContainer {
  margin: 30vh auto;
  max-width: 750px;
  text-align: center !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
}

.footer a {
  color: #1db954;
}

.footer a:hover {
  color: #1db954;
}

.episodeType {
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
  vertical-align: baseline;
}

a.episodeType:hover {
  color: #fff;
}
.spotifyBtn {
  background-color: #1;
}

.episodeTitle {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -1.92px;
  padding-bottom: 3.85px;
  padding-top: 3.85px;
  word-break: break-word;
}

.hideToLongText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.episodePublisher {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.21px;
  line-height: 28px;
}

.tooltipTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.21px;
  line-height: 28px;
}

.tooltipDescription {
  font-size: 16px;
  padding-top: 8px;
  text-align: center;
}

.episodePlayerContainer {
  padding: 32px 15px;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
.episodeDescriptionContainer {
  max-height: 90vh !important;
  overflow: auto;
}

.episodeDescriptionInnerContainer {
  padding-left: 32px;
  padding-right: 32px;
}
.episodeTopicsContainer {
  background-color: #272727;
  height: 90vh;
  overflow: auto;
  padding-left: 0 !important;
  overflow-x: hidden;
}

.activeTopicList {
  color: #1db954 !important;
}

.list-group-item {
  text-align: left !important;
  background-color: transparent !important;
  border-bottom: 1px solid #333 !important;
}

.listGroupItemTitle {
  text-align: left;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 16px;
  vertical-align: baseline;
}

.listGroupItemTime {
  text-align: left;

  font-size: 12px;
  font-weight: 700;
  padding-top: 8px;
  letter-spacing: 1.2px;
  line-height: 16px;
  vertical-align: baseline;
}

audio {
  color: transparent !important;
  width: 90%;
}

.activeListGroup {
  color: #1db954;
}

.list-group-item span {
  float: left;
  clear: left;
}

.list-group-item:hover {
  background-color: #333 !important;
  cursor: pointer;
}

.listGroupItemHeader {
  text-align: left;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;

  height: 64px;
}

.listGroupItemHeader:hover {
  background-color: transparent !important;
  cursor: auto;
}

.episodeDescriptionTitle {
  padding-top: 16px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 28px;
  margin: 0;
}

.episodeDescriptionText {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.24px;
  line-height: 20px;
  max-width: 90%;
}

.profileNav {
  float: right !important;
}

.myTable > thead {
  border-top: 2px solid #191414 !important;
  border-bottom: 3px solid #282828 !important;
}

.myTable > tbody > tr > td {
  border-top: 1.5px solid #282828 !important;
}

.myTable > tbody > tr:hover > td {
  background-color: #282828 !important;
}

.myTable > tbody {
  border-top: 3px solid #191414 !important;
}

.tableContainer {
  margin-top: 75px;
  text-align: left;
}
.myTable {
  color: white !important;
  text-align: left;
  overflow-x: hidden !important;
  border-top: none !important;
}
.myContainer h1 {
  font-size: 46px;
}

.myContainer p {
  font-size: 22px;
}

.myFormContainer {
  max-width: 500px;
  margin: 0 auto;
}
.myForm {
  width: 90%;
  background-color: rgba(143, 146, 161, 0.6) !important;
  box-shadow: rgba(122, 129, 168, 0.15) 0px 4px 8px !important;
  color: white !important;
  border: none !important;
  height: 60px !important;
  padding: 16px;
  line-height: 60px !important;
}

.myFormButton {
  background-color: rgba(143, 146, 161, 0.6) !important;
  border-color: rgba(143, 146, 161, 0.6) !important;
  border-left: 0.75px solid white !important;
  height: 60px !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.myFormButton:hover {
  background-color: white !important;
}

::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

.episodesContainer {
  margin: 55px 10% 0px 10%;
  text-align: left;
}
.episodesContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.podcastEpisodeCardLink:hover {
  text-decoration: none !important;
}

.podcastEpisodeCard {
  background-color: rgb(40, 40, 40) !important;
  text-align: left;
  margin-bottom: 30px;
  padding: 16px 16px 8px 16px;
  border-radius: 8px;
  text-decoration: none !important;
}

.podcastEpisodeCard:hover {
  transform: scale(1.025);
}

.podcastEpisodeCard img {
  margin-bottom: 16px;
  border-radius: 8px;
}
.podcastEpisodeCard h1 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  text-decoration: none !important;
}

.podcastEpisodeCard h1:hover {
  text-decoration: none !important;
}
.podcastEpisodeCard p:hover {
  text-decoration: none !important;
}

.podcastEpisodeCard p {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
}

.podcastEpisodeCard:hover {
  text-decoration: none !important;
}

.badgeTopic {
  padding: 8px 12px !important;
  margin-right: 14px;
  margin-bottom: 16.5px;
  width: 100%;
  background-color: rgb(40, 40, 40) !important;
  text-align: left !important;
}

.badgeTopic:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.col-lg-2 {
  padding: 0 7px !important;
}
.badgeTopic h1 {
  color: #fff;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 700 !important;

  letter-spacing: normal;
  text-decoration: none !important;
}

.badgeTopic p {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
}

.episodePlayerContainer button {
  border-radius: 10px;
  border-color: transparent;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.21px;
  margin-bottom: 16px;
  color: white;
}

.episodePlayerContainer button:active {
  border: none !important;
}

.playBtn {
  background-color: transparent;
  width: 35px !important;
  font-size: 32px !important;
  height: 40px !important;
  padding: 0 !important;
  text-align: center !important;
  cursor: pointer;
}

.openInSpotifyBtn {
  background-color: #1db954;
  min-width: 160px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 25px;
  padding: 16px 48px 18px 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.openInSpotifyBtn:hover {
  text-decoration: none !important;
  color: white;

  background-color: #1ed760;
}

.episodeDescriptionContainer {
  padding-top: 32px !important;
  text-align: left;
  overflow-x: hidden;
  padding-bottom: 32px;
}

.timeline {
  position: absolute;

  left: 0;
  width: 100%;
  border-radius: 5px;
}

.progressBarContainer {
  background-color: rgb(37, 37, 39) !important;
}

.topicTimelineSegment {
  background-color: transparent !important;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 4px;
  cursor: pointer;

  z-index: 10;
}

.timeline-progress {
  height: 16px;
  background-color: #1db954;
  width: 0%;
  transition: width 0.1s ease;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.topicTimelineSegment:first-child {
  border-left: none;
}

.topicTimelineSegment:last-child {
  border-right: none;
}

.playerControls {
  margin-top: 32px;
}
