.header {
  text-align: center;
}
body {
  background-color: #0f0f0f !important;
  color: white !important;
  text-align: center !important;
}

.myNavbar {
  background-color: #000;
  padding-left: 0 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  height: 10vh;
}

.navbarBrand {
  margin-left: 32px;
}
.myContainer {
  padding-top: 15vh;
}

.episodeDescriptionContainer {
  padding-top: 32px !important;
  text-align: left;
  overflow-x: hidden;
}

.backBtn {
  color: white;
  height: 25px;
  width: 55px !important;
  font-size: 13px;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-decoration: none;
}

.backBtn:hover {
  color: #1db954;
  text-decoration: none;
}

.episode-thumbnail {
  width: 100%;
  margin-right: 24px;
  border-radius: 11px;
}

.episodeHeaderRow {
  padding-top: 114px !important;
}

.episodeHeader {
  position: relative !important;
  height: auto;
}

.episodeFragment {
  position: absolute !important;
  bottom: 0;
}
.episodeType {
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
  vertical-align: baseline;
}

.episodeTitle {
  text-align: left;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -1.92px;
  padding-bottom: 3.85px;
  padding-top: 3.85px;
  word-break: break-word;
}

.episodePublisher {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.21px;
  line-height: 28px;
}

.episodePlayer {
  padding-top: 16px;
  margin: 0;
  height: 50px;
}
::-webkit-scrollbar {
  display: none;
}
.episodeDescriptionContainer {
  max-height: 90vh !important;
  overflow: auto;
}

.episodeDescriptionInnerContainer {
  padding-left: 32px;
  padding-right: 32px;
}
.episodeTopicsContainer {
  background-color: #272727;
  height: 90vh;
  overflow: auto;
  padding-left: 0 !important;
  overflow-x: hidden;
}

.list-group-item {
  text-align: left !important;
  background-color: transparent !important;
  border-bottom: 1px solid #333 !important;
}

.listGroupItemTitle {
  text-align: left;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 16px;
  vertical-align: baseline;
}

.listGroupItemTime {
  text-align: left;

  font-size: 12px;
  font-weight: 700;
  padding-top: 8px;
  letter-spacing: 1.2px;
  line-height: 16px;
  vertical-align: baseline;
}

audio {
  color: transparent !important;
  width: 90%;
}

.activeListGroup {
  color: #1db954;
}

.list-group-item span {
  float: left;
  clear: left;
}

.list-group-item:hover {
  background-color: #333 !important;
  cursor: pointer;
}

.listGroupItemHeader {
  text-align: left;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;

  height: 64px;
}

.listGroupItemHeader:hover {
  background-color: transparent !important;
  cursor: auto;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.episodeDescriptionTitle {
  padding-top: 16px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 28px;
  margin: 0;
}

.episodeDescriptionText {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.24px;
  line-height: 20px;
  max-width: 90%;
}

.profileNav {
  float: right !important;
}
.myFooter {
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.myTable > thead {
  border-top: 2px solid #191414 !important;
  border-bottom: 3px solid #282828 !important;
}

.myTable > tbody > tr > td {
  border-top: 1.5px solid #282828 !important;
}

.myTable > tbody > tr:hover > td {
  background-color: #282828 !important;
}

.myTable > tbody {
  border-top: 3px solid #191414 !important;
}

.tableContainer {
  margin-top: 75px;
  text-align: left;
}
.myTable {
  color: white !important;
  text-align: left;
  overflow-x: hidden !important;
  border-top: none !important;
}
.myContainer h1 {
  font-size: 46px;
}

.myContainer p {
  font-size: 22px;
}

.myFormContainer {
  max-width: 500px;
  margin: 0 auto;
}
.myForm {
  width: 90%;
  background-color: rgba(143, 146, 161, 0.6) !important;
  box-shadow: rgba(122, 129, 168, 0.15) 0px 4px 8px !important;
  color: white !important;
  border: none !important;
  height: 60px !important;
  padding: 16px;
  line-height: 60px !important;
}

.myFormButton {
  background-color: rgba(143, 146, 161, 0.6) !important;
  border-color: rgba(143, 146, 161, 0.6) !important;
  border-left: 0.75px solid white !important;
  height: 60px !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.myFormButton:hover {
  background-color: white !important;
}

::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

.episodesContainer {
  margin: 150px auto 125px auto;
  max-width: 1100px;
  text-align: left;
}
.episodesContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.podcastEpisodeCard {
  background-color: rgb(40, 40, 40) !important;
  text-align: left;
  padding: 16px 16px 8px 16px;
  border-radius: 8px;
  text-decoration: none !important;
}

.podcastEpisodeCard:hover {
  transform: scale(1.025);
}

.podcastEpisodeCard img {
  margin-bottom: 16px;
  border-radius: 8px;
}
.podcastEpisodeCard h1 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  text-decoration: none !important;
}

.podcastEpisodeCard h1:hover {
  text-decoration: none !important;
}
.podcastEpisodeCard p:hover {
  text-decoration: none !important;
}

.podcastEpisodeCard p {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
}

.podcastEpisodeCard:hover {
  text-decoration: none !important;
}

.badgeTopic {
  padding: 8px 12px !important;
  margin-right: 14px;
  margin-top: 14px;
  background-color: rgb(40, 40, 40) !important;
  text-align: left !important;
}

.badgeTopic:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.col-lg-2 {
  padding: 0 7px !important;
}
.badgeTopic h1 {
  color: #fff;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 700 !important;

  letter-spacing: normal;
  text-decoration: none !important;
}

.badgeTopic p {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
}

.playBtn {
  background-color: #1db954;
  border-radius: 10px;
  border-color: transparent;
  font-size: 18px;
  color: white;
  height: 60px;
  line-height: 21px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 0.21px;
  margin-right: 12px;
}

.openInSpotifyBtn {
  background-color: rgb(37, 37, 39);
  border-radius: 10px;
  border-color: transparent;
  font-size: 18px;
  color: #1db954;
  height: 60px;
  line-height: 21px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 0.21px;
}
